<label for="{{{name}}}" id="{{{name}}}-label">{{{label}}}:{{#if required}}<span class="required-field">*</span>{{/if}}<input type="{{{type}}} class="form-control" id="{{{name}}}" name="{{{name}}}" {{#if value}} value="{{{value}}}"{{/if}}{{#if required}} required{{/if}} />
